<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/stars.css">


<body>
  <div class="row mb-3">
    <div class="col-6">
      <div id="map" style="width: 400px; height: 300px;"></div>
      <div id="campgroundCarousel" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <% camp.images.forEach((img,i)=>{ %>
          <div class="carousel-item active">
            <img src="<%= img.url %>" class="d-block w-100" alt="" >
           </div>
           <% }) %>
        </div>
        <% if(camp.images.length>1){ %>
        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
      <div class="card">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text"><%= camp.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= camp.location %></li>
          <li class="list-group-item">$<%= camp.price %>/night</li>
          <li class="list-group-item">Submitted : <%= camp.author.username %></li>
        </ul>
        <% if(currentuser && camp.author.equals(currentuser)) {%>
        <div class="card-body">
            <a href="/campground/<%= camp._id %>/edit" class="card-link btn btn-info">Edit Campground</a>
            
            <form action="/campground/<%= camp._id %>?_method=DELETE" method="POST" class="d-inline">
              <button class="card-link btn btn-danger ">Delete</button>
            </form>
        </div>
        <% } %>
        <a href="/campground" class="card-link btn btn-short btn-warning">Back to Campgrounds</a>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-6">
      <div>
        <% if(currentuser){ %>
        <form action="/campground/<%= camp._id %>/reviews" method="POST" class="mb-3 validate-form" novalidate>
          <h2 class="mb-3">Leave A Review</h2>
          <!-- <div class="mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" class="form-range" min="1" max="5" id="rating"  name="reviews[rating]" >
          </div> -->
          <fieldset class="starability-basic">
            <!-- <legend>First rating:</legend> -->
            <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mt-3">
            <label class="form-label " for="text">Review</label>
            <textarea name="reviews[body]" class="form-control" id="text" cols="30" rows="3" required></textarea >
          </div>
          <div class="mt-3">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
        <% } %>
        <% for(let review of camp.reviews) { %>
          <div class="card mb-3">
            <div class=" card-body">
              <h5 class="card-title"><%= review.author.username %></h5>
              <!-- <h3>Rated element name</h3> -->
             <p class="starability-result" data-rating="<%= review.rating %>">
               Rated:<%= review.rating %> stars
            </p>
              <!-- <h6 class="card-subtitle mb-2 text-body-secondary">By </h6> -->
              <p class="card-text">Review: <%= review.body %></p>
              <% if(currentuser && review.author.equals(currentuser)) {%>
              <form action="/campground/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>
              <% } %>
            </div>
          </div>
        
        
        <% } %>

      </div>
    </div>
  </div>
</body>
<script>
  const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
</script>
<script src="/javascript/showPageMap.js"></script>